# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.db
*.db
/.metadata/
IFCtoLBD_Geometry/.DS_Store
IFCtoLBD_Geometry/src/.DS_Store
IFCtoLBD_Geometry/src/main/.DS_Store
IFCtoLBD_Geometry/src/main/java/.DS_Store
IFCtoLBD_Geometry/src/main/java/de/.DS_Store
IFCtoLBD_Geometry/src/main/java/de/rwth_aachen/.DS_Store
IFCtoLBD_Geometry/src/main/java/de/rwth_aachen/dc/.DS_Store
IFCtoLBD_Python/venv/*
.DS_Store
Duplex_A_20110907.ifc
Duplex_A_20110907.trig
Duplex_A_20110907.ttl
IFCtoLBD_CLI.jar
IFCtoLBD_Desktop.jar
IFCtoRDF/src/main/java/be/ugent/RDFWriter.java
IFCtoLBD_Geometry/.eclipse-pmd
.idea/*
IFCtoRDF/.eclipse-pmd
IFCtoLBD/.eclipse-pmd
IFCtoLBD/.idea/*
IFCtoLBD_NodeJS/node_modules/*
