<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/IFCtoLBD_Desktop_Java15/src/main/java/org/linkedbuildingdata/ifc2lbd/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.linkedbuildingdata.ifc2lbd.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="IFCtoLBD_Desktop_Java15"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IFCtoLBD_Desktop_Java15"/>
</launchConfiguration>
